MINE = 0
KEYSTORE_PATH = "/Users/nitzaalfinas/apps/blockchain/nitchain/data/user/keystore"
MAIN_CONFIG_PATH = "/Users/nitzaalfinas/apps/blockchain/nitchain/data/config"
MAIN_POOL = 'http://localhost:4568'
DATABASE_NAME = 'nitchain_user'

GENESIS_DATA = {
    timestamp: 1,
    last_hash: "----",
    hash: "hash genesis",
    data: []
}
