APP_FULL_PATH = "/Users/nitzaalfinas/DocB/app_group/blockchain/nitchain"

if ENV == "test"
    LOCAL_PASS = "1234"
    KEYSTORE_PATH = "#{APP_FULL_PATH}/data/TEST/keystore"
    MAIN_CONFIG_PATH = "#{APP_FULL_PATH}/data/TEST/config"
    $root_ip = 'localhost'
    $root_port = 3000
    DATABASE_NAME = 'nitchain_test'
    BASE_ADDRESS = "Nxf9c62974d550c1f12cd7d6b9913b44983cb3a096"
elsif ENV == "development"
    LOCAL_PASS = "SusahSekali99"
    KEYSTORE_PATH = "#{APP_FULL_PATH}/data/user/keystore"
    MAIN_CONFIG_PATH = "#{APP_FULL_PATH}/data/config"
    $root_ip = 'localhost'
    $root_port = 3000
    DATABASE_NAME = 'nitchain_user'
    BASE_ADDRESS = "Nxf9c62974d550c1f12cd7d6b9913b44983cb3a096"
end
